.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button {
  margin-top: unset;
}

.input-field {
  display: inline-block;
  width: 100%;
  margin-right: 30px;
  padding: 16px;
  background: #626469;
  border-radius: 4px;
  border: 1px solid #e7e6e6;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.8;
}

