.button {
  background-color: #3dcd58;
  border-radius: 4px;
  color: #FFFFFF;
  padding: 18px;
  font-size: 20px;
  line-height: 24px;
  border: none;
  cursor: pointer;

  &-pink,
  &-search {
    background: #F65261;

    &:hover {
      background-color: #c84d7b;
    }

    &:active {
      background-color: #b10043;
    }
  }

  &-transparent {
    color: #F65261;
    border: 1px solid #F65261;
    background: transparent;

    &:hover {
      border: 1px solid #c84d7b;
    }

    &:active {
      border: 1px solid #b10043;
    }
  }
}
