.movie-page-wrapper {
  background-color: #232323;

  &.modal-open {
    height: 100vh;
    overflow-y: hidden;
    opacity: 0.5;
    pointer-events: none;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid #424242;
    padding-bottom: 0;
  }

  .header {
    position: relative;
    block-size: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 140px;
    background-image: url("../../assests/Bitmap.png");
    border-bottom: 20px solid #424242;

    .title {
      margin-bottom: 30px;
    }

    .button-grey {
      position: absolute;
      top: 30px;
      right: 30px;
      margin-top: unset;
    }

    .logo {
      position: absolute;
      top: 30px;
      left: 30px;
    }
  }
}
