.sorting-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 35px;
  color: #FFFFFF;
  background-color: #232323;
  font-size: 16px;
  line-height: 18px;
  font-family: 'Montserrat', sans-serif;
  padding: 16px;
  border-bottom: 4px solid #424242;

  .label {
    opacity: 0.7;
  }

  select {
    background: unset;
    color: #fff;
    border: none;
    font-size: 16px;
    line-height: 18px;
    font-family: 'Montserrat', sans-serif;

    option {
      background-color: #232323;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
